/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GERAL */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.6;
}

/* CABEÇALHO */
header {
    background-color: #0077b6;
    color: white;
    text-align: center;
    padding: 10PX 20px;
    border-radius: 1px;
    transform: translateY(-10%);
}

img.logoBlog {
    width: 100px;
    height: auto;
    vertical-align: top;
    margin-right: 10px;
    transform: translateY(-50%); 
}

header h1 {
     transform: translateY(10%); 
    margin-bottom: 0;
}

/* MENU */
nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: #005f8a;
    padding: 10px 18px;
    border-radius: 5px;
    transition: 0.3s;
}

nav a:hover {
    background-color: #003f5c;
}

/* CONTEÚDO */
main {
    max-width: 1100px;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

section {
    margin-bottom: 30px;
}

.h1 {
    margin-bottom: 15px;
    color: #0077b6;
    
}

.conteudo {
    margin-bottom: 10px;
    padding-left: 20px
}

/* LISTAS */
ul {
    list-style: none;
    padding-left: 20px;
}

li {
    margin-bottom: 20px;
}

/* IMAGENS */
img {
    width: 100%;
    max-width: 80px;;
    height: auto;
    border-radius: 8px;
    display: block;
    margin-top: 10px;
    transition: 0.3s;
}

img:hover {
    transform: scale(1.05);
}

/* CARDS DA HOME */
.outras_viagens,
.outras-viagens {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    text-align: center;
}

.card img {
    max-width: 100%;
    margin: 0;
}

p {
    padding-left: 15px;
}

/* CONTATOS */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

input,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #0495e2;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005f8a;
}

/* RODAPÉ */
footer {
    background-color: #0077b6;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}